Binaries
DerivedDataCache
Intermediate/Build
Intermediate/Config
Intermediate/ReimportCache
Intermediate/Shaders
Intermediate/Staging
Intermediate/ProjectFiles/UE4.vcxproj
Intermediate/ProjectFiles/UE4.vcxproj.filters
Intermediate/ProjectFiles/UE4.vcxproj.user
Intermediate/CachedAssetRegistry.bin
Saved/Collections
Saved/Config
Saved/Cooked
Saved/Logs
Saved/StagedBuilds
Saved/Stats
Saved/AutoScreenshot.png
*.opensdf
*.sdf
*.sln
*.suo
*.xcodeproj