Binaries
DerivedDataCache
Intermediate/Build
Intermediate/Config
Intermediate/ReimportCache
Intermediate/Shaders
Intermediate/Staging
Intermediate/CachedAssetRegistry.bin
Saved
*.opensdf
*.sdf
*.suo
*.xcodeproj